/* General settings */

:root {
    --orange: rgba(245, 155, 46);
    --lightOrange: rgba(245, 155, 46, 0.4);
    --lightBlack: rgba(0, 0, 0, 0.48);
    --shadowBlack: rgba(0, 0, 0, 0.25);
    --lightGrey: #E5E5E5;
    --link: #538CE2;
    --black: #000;
    --white: #fff;
    --dark: #2E7EF5;
    --blueOverlay: rgba(46, 126, 245, 0.5);
    --orangeOverlay: rgba(245, 155, 46, 0.4);
    --backgroundGray: #F5F9F9;
    --ease: all 0.3 var(--ease) 0s;
}

body {
    font-style: normal;
    font-weight: normal;
    margin: 0;
    font-family: 'Sarabun', sans-serif;
    font-size: 33px;
    color: var(--black);
    background-color: var(--backgroundGray);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: inherit;
}

button {
    border: none;
    background-color: inherit;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

main {
    flex-grow: 1;
}

:focus {
    outline: 0;
}

h1 {
    font-weight: bold;
    size: 48px;
    line-height: 62px;
}

h2 {
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
}

h6 {
    font-size: 24px;
    line-height: 31px;
    padding: 5px;
}

a {
    font-size: 24px;
    line-height: 31px;
    text-decoration-line: underline;
    color: var(--link);
}


/* Containers */

.container {
    width: 100%;
    max-width: 1362px;
    margin: 0 auto;
}

.container__centered {
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}


/* Header */

.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-bottom: 1px solid var(--lightGrey);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 72px;
    font-family: 'Unica One', cursive;
    font-weight: normal;
    color: var(--lightBlack);
    display: flex;
    align-items: center;
}

.header__image {
    width: 90px;
}

.header__logo a {
    text-decoration: none;
    color: var(--lightBlack);
    font-size: 72px;
}


/* Navigation */

.nav a {
    display: inline-block;
    vertical-align: top;
    margin: 0 50px;
    font-size: 30px;
    color: var(--lightBlack);
    text-decoration: none;
    position: relative;
}

.nav a:hover {
    color: var(--orange);
}


/* Intro */

.intro__title {
    width: 100%;
    max-width: 564px;
    padding-top: 30px;
}

.intro__title h1 {
    font-weight: normal;
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.intro__image {
    width: 372px;
    padding-top: 30px;
    height: auto;
}

.intro__phones {
    height: 90vh;
    padding-top: 30px;
}


/* Footer */

.footer {
    background-color: var(--lightOrange);
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.footer p {
    margin: 0 auto;
}


/* Login/Register containers */

.authorization__container {
    margin: 29px 310px 58px;
    background: var(--white);
    box-shadow: 0px 4px 4px var(--shadowBlack);
}

.authorization__inner {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 59px;
}

.form__container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    max-width: 315px;
}

.form__container p {
    font-size: 18px;
    line-height: 23px;
    color: var(--lightBlack);
}

.submit__container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}


/* Form for login and register */

.form {
    font-size: 24px;
    line-height: 31px;
    padding-top: 43px;
    text-align: left;
}

.input {
    border: 1px solid var(--lightOrange);
    border-radius: 15px;
    max-width: 315px;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.input__button {
    border: 3px var(--lightOrange);
    border-radius: 15px;
    max-width: 315px;
    width: 100%;
    padding: 5px;
    background: var(--lightOrange);
    text-align: center;
    margin: 10px 0;
}

.input__button:focus {
    background: var(--orange);
}

.img__logo {
    max-width: 34px;
    width: 100%;
    margin-right: 10px;
}

.form__image__button {
    border: 3px var(--lightOrange);
    border-radius: 15px;
    max-width: 315px;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    background: var(--lightOrange);
    font-size: 24px;
}


/* Wallet page */


/* Header */

.nav__box {
    display: flex;
    align-items: center;
}

.user__box {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.add__transaction {
    border: 0px var(--orange);
    border-radius: 15px;
    max-width: 145px;
    width: 100%;
    padding: 5px 13px;
    background: var(--orange);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.username {
    border: none;
    max-width: 213px;
    width: 100%;
    background: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: 33px;
    color: var(--lightBlack);
    display: flex;
    align-items: center;
}


/* Main block */

.transactions__container {
    margin: 37px auto auto;
    max-width: 1230px;
    width: 100%;
    font-weight: bold;
    font-size: 29px;
    color: var(--lightBlack);
}

.transactions__container p {
    margin-left: 35px;
}

.transaction {
    border: 1px solid var(--shadowBlack);
    border-radius: 15px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 15px 35px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
}

.checkbox {
    margin: 0;
    transform: scale(1.5);
    margin-right: 24px;
}

.img__category {
    max-width: 60px;
    width: 100%;
    margin-left: 46px;
}

.info {
    margin-left: auto;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: var(--lightBlack);
    display: flex;
}

.price {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: normal;
    font-size: 29px;
    color: #E3361E;
}


/* Adding transaction overflow */

.adding__transaction__container {
    max-width: 925px;
    width: 100%;
    font-size: 18px;
    color: var(--black);
    margin: 20px auto;
    position: initial;
    background-color: var(--white);
    z-index: 10000;
    border-radius: 0px 0px 5px 0px;
    display: none;
}

.overflow_container {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
}

.transaction__parts {
    display: flex;
}

.overflow__container__header {
    color: var(--lightBlack);
    padding: 31px 0 31px;
    display: flex;
    justify-content: space-between;
}

.part__one {
    background: var(--orange);
    max-width: 580px;
    margin: initial;
}

.part__three {
    background: var(--white);
    padding-left: 42px;
}

.add__transaction__button {
    border: none;
    border-radius: 15px;
    max-width: 221px;
    width: 100%;
    padding: 8px 45px;
    background: var(--orange);
    text-align: center;
    color: var(--white);
    font-size: 18px;
    margin: 78px 197px 24px;
}

.part__two {
    background: var(--backgroundGray);
    border-radius: 0px 0px 5px 0px;
    max-width: 345px;
    width: 100%;
    padding: 0px 44px 50px 26px;
}


/* Switch button */

.switch__container {
    display: flex;
    justify-content: center;
    padding-top: 19px;
    line-height: 23px;
    color: var(--black);
}

.selected__switch {
    background: var(--white);
    mix-blend-mode: normal;
    border: 1px solid var(--white);
    border-radius: 5px 0px 0px 5px;
    padding: 4px 34px;
}

.unselected__switch {
    background: var(--orange);
    mix-blend-mode: normal;
    border: 1px solid var(--white);
    border-radius: 0px 5px 5px 0px;
    padding: 4px 34px;
    color: var(--white);
}


/* Forms in adding and editing a transaction */

#partOne {
    color: var(--white);
    font-weight: normal;
    margin-left: 197px;
    margin-top: 21px;
    padding: 0;
    font-size: 18px;
    max-width: 221px;
    width: 100%;
}

#partOne input {
    border: none;
    border-radius: 5px;
    min-height: 32px;
}

#wallet {
    max-width: 221px;
    width: 100%;
}

#amount {
    max-width: 121px;
    width: 100%;
}

#currency {
    max-width: 74px;
    width: 100%;
}

#partThree input {
    min-height: 39px;
    border-radius: 5px;
}

#receiver {
    min-height: 55px;
}

#comment {
    min-height: 79px;
}

#place {
    min-height: 39px;
}


/* About page */

.wrapper {
    min-height: 87.9vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "top";
}

.top {
    display: grid;
    background-color: var(--dark);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: top;
    grid-template-columns: 1fr 600px 600px 1fr;
    grid-gap: 20px;
    grid-template-areas: ".top__profile top__content  .";
    background-image: linear-gradient(to right, var(--blueOverlay), var(--orangeOverlay)), url(/img/background_image.jpg);
}

.top__content {
    grid-area: top__content;
    text-align: right;
    padding: 80px;
}

.title {
    font-family: Unica One;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.1em;
    color: var(--white);
}

.subtitle {
    color: var(--white);
    margin-bottom: 50px;
}

.underline {
    text-decoration: none;
    position: relative;
}

.social {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    border-width: 2px;
    border-style: solid;
    background-color: var(--orange);
    color: var(--orange);
    animation-name: underline;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes underline {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.social__item {
    display: flex;
    margin: 10px 0;
    color: var(--white);
    text-decoration: none;
    right: 0;
    position: absolute;
}

.social__copy {
    color: inherit;
    text-decoration: inherit;
    margin-left: 30px;
}

.social__copy:hover {
    color: var(--orange);
}

.top__profile {
    grid-area: top__profile;
    align-self: center;
    justify-self: center;
    background-image: url(/img/girl_with_phone.jpg);
    width: 448px;
    height: 583px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width:1280px) {
    .top {
        grid-template-columns: 1fr;
        grid-template-areas: "top__content" "top__profile";
    }
    .top__profile {
        width: 100%;
    }
}

@media only screen and (max-width:600px) {
    .top__content {
        transform: scale(0.85);
    }
}